<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.mytfg.jufo.ibis" >

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="de.mytfg.jufo.ibis.GlobalVariables"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:supportsRtl="false">
        <activity
            android:name="de.mytfg.jufo.ibis.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="de.mytfg.jufo.ibis.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="de.mytfg.jufo.ibis.ShowDataActivity"
            android:label="@string/title_activity_show_data"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="de.mytfg.jufo.ibis.UploadTrackActivity"
            android:label="@string/title_activity_upload_track"
            android:screenOrientation="portrait">
        </activity>
        <service
            android:name="de.mytfg.jufo.ibis.Tracking"
            android:label="iBis Tracking GPS" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <!-- TODO: Ensure Devices Have the Google Play services APK
         (https://developer.android.com/google/play-services/setup.html#ensure) -->
    </application>

</manifest>
