<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.opencyclecompass.app.android" >

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".OcycoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme" >
        <activity
            android:name="de.opencyclecompass.app.android.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="de.opencyclecompass.app.android.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="de.opencyclecompass.app.android.ShowDataActivity"
            android:label="@string/title_activity_show_data"
            android:screenOrientation="portrait"
            android:showOnLockScreen="true">
        </activity>
        <activity
            android:name="de.opencyclecompass.app.android.UploadTrackActivity"
            android:label="@string/title_activity_upload_track"
            android:screenOrientation="portrait" >
        </activity>

        <service
            android:name="de.opencyclecompass.app.android.Tracking"
            android:label="OpenCycleCompass Tracking GPS" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <!--
         TODO: Ensure Devices has the Google Play services APK
         (https://developer.android.com/google/play-services/setup.html#ensure)
        -->
        <activity
            android:name="de.opencyclecompass.app.android.RoutingActivity"
            android:label="@string/title_activity_routing" >
        </activity>
        <activity
            android:name="de.opencyclecompass.app.android.InfoActivity"
            android:label="@string/title_activity_info" >
        </activity>
        <activity android:name="de.opencyclecompass.app.android.TrackArchiveActivity"
            android:label="@string/title_activity_archive">
        </activity>
    </application>

</manifest>
